.CategoryProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;
}

.categoryProduct__hosting {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    color: #8B96A5;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.2px;
}

.ProductInfo {
    width: 100%;
    height: 580px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #DEE2E7;
    background: #FFF;
}

.ProductImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.productBig__Img {
    width: 345px;
    height: 345px;
}

.productMini__Img {
    width: 48px;
    height: 48px;
}

.productImg__mini {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.50px;
}

.productBIgImg__div {
    width: 380px;
    height: 380px;
    border: 1px solid #DEE2E7;
    padding: 17px;
    border-radius: 6px;
}

.productMiniImg__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 3px;
    border: 1px solid #DEE2E7;
    background: #FFF;
    border-radius: 6px;
    padding: 3.50px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.productMiniImg__div:hover {
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.productName__desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.productStock {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00B517;
}

.productName {
    width: 384px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}

.productSale__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.productActions {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #787A80;
    gap: 3px;
}

.productActions p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.dot {
    width: 6px;
    height: 6px;
    background: #DBDBDB;
    border-radius: 50%;
}

.productSale__price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background: #FFF0DF;
    gap: 20px;

}

.productPice {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1px;
    border-right: 1px solid #BDC1C8;
    padding-right: 20px;
}

.productPrice__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #1C1C1C;

}

.productPice {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #606060;
}

.priceRed {
    color: #FA3434;
}

.productMain__infos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 18px;
}

.productMain__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.productMain__info span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #8B96A5;
}

.productMain__info p {
    width: 189px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #505050;
}


.VendorCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 280px;
    height: 325px;
    border-radius: 6px;
    border: 1px solid #DEE2E7;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, #DEE2E7, #DEE2E7);
    box-shadow: 0px 1px 2px 0px #38383814;
    padding: 20px;
    gap: 20px;
}

.vendorName__img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    padding-bottom: 20px;
}

.vendorImg {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.vendorImg img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.vendorShop__name {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}

.vendorInfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.vendorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #8B96A5;

}

.vendorInfo p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}

.VinfoIcon {
    width: 20px;
}

.vendorShopOpen__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.shopBtns {
    width: 100%;
}

.vanderProduct__save {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #0D6EFD;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.vanderProduct__save p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
}

.vanderProduct__save i {
    font-size: 16px;
}

.ProductDesc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ProductDesctComment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1100px;
    height: 618px;
    border: 1px solid #DEE2E7;
    box-shadow: 0px 1px 3px 0px #3838381A;
    background-color: white;
}

.productDesc__header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid #DEE2E7;
}

.productDesc__headerText {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    color: #8B96A5;
    cursor: pointer;
}

.DescActive {
    color: #0D6EFD;
}

.descHeader__textBorder {
    position: absolute;
    width: 95px;
    height: 2px;
    background-color: #0D6EFD;
    left: 25px;
    bottom: 0;
}

.productFullDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
}

.fullText {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #505050;
}

.productModel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
}

.productModel__titles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #E0E7E9;
    background-color: #EFF2F4;
}

.productModel__infos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #E0E7E9;
    background-color: white;
}

.productModel__titles span {
    padding: 8px 20px;
    width: 204px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #505050;
    border-bottom: 1px solid #E0E7E9;
}

.productModel__infos span {
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #505050;
    border-bottom: 1px solid #E0E7E9;
}

.productSacces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.productSacces p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #505050;
}

.UserLikeProduct {
    width: 280px;
    height: auto;
    border-radius: 6px;
    background: white;
    padding: 20px;
    border: 1px solid #DEE2E7;
    gap: 30px;
}

.userLikeProduct__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #1C1C1C;
    margin-bottom: 30px;
}

.likeProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.LikeProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.LikePrduct__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    border: 1px solid #E0E0E0;
    padding: 5px;
}

.LikePrduct__img img {
    width: 100%;
    height: 100%;
}

.likeProduct__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.likeProduct__infos p {
    width: 151px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;

}

.likeProduct__infos span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #8B96A5;
}

.relateProducts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Relate {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 22px;
    gap: 13px;
    background: white;
    border-radius: 6px;
    border: 1px solid rgba(222, 226, 231, 1);
}

.realteTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: rgba(28, 28, 28, 1);
}

.RealateProduct {
    max-width: 172px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 14px;
}
.realateProduct__img{
    width: 172px;
    height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: rgba(238, 238, 238, 1);
    
}