.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footerHead {
    width: 100%;
    height: calc(328px - 64px);
    background-color: white;

}

.footer-head__infos {
    width: 1440px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infosTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.infosTexts p {
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 500;
    line-height: 137.5%;
    margin-bottom: 4px;
}

.infosTexts span {
    color: #8B96A5;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.2px;
}

.oneHatorl {
    gap: 20px;
}

.oneHatorl span {
    width: 276px;
}

.textIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.textIcons svg {
    cursor: pointer;
}

.footerFot {
    width: 100%;
    height: 64px;
    border-top: 1px solid var(--gray-300, #DEE2E7);
    background: var(--gray-200, #EFF2F4);
}

.footer-fot__infos{
    width: 1440px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}